.park-style{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;   
    width: 100%;
 
}
.main-container{
    width: 700px;
    margin: 0 auto;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.half-width{
    width: 50%;
    border: 1px solid grey;
    margin: 0 auto
}
.hide-table{
    display: none;
}
.selected {
   
    display: inline;     
    position: relative;
    left: 100px;  

  }
  .inside-table{
  
    margin: 10px auto;
  }

  tr:hover {  
    cursor: pointer;

}
tr{
    height: 15px;
}
.text-search{
    width: 99.3%;
    height: 25px;
    margin-bottom: 5px;
    background-color: rgb(236, 230, 230);

}
